websockets
PyQt5
qrcode
pynput


https://www.pythonguis.com/tutorials/pyqt-signals-slots-events/
https://doc.qt.io/qtforpython-6/overviews/signalsandslots.html#a-real-example
https://bugreports.qt.io/browse/QTBUG-2036
https://docs.python.org/3/library/pdb.html